

#map {
    display: block;
    margin: 5vh auto;
    width: 80vw;
    max-width: 600px;
    height: auto;
    path {
        stroke: #fff;
        stroke-width: 1px;
        fill: #aaa;
        transition: fill ease 0.1s;
        &.red {
            fill: $red;
        }
        &.orange {
            fill: $orange;
        }
        &.green {
            fill: $green;
        }
    }

    &.finish-animation {
        animation: finishAnimation ease-in-out 0.3s;
        @keyframes finishAnimation {
            0%,100%{
                transform: none;
            }
            50% {
                transform: scale(0.85);
            }
        }
    }
}