
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Firefox */
}

html {
    scroll-behavior: smooth;
    text-align: center;
    background-color: #F9F8F6;
    scrollbar-color: #fff rgba(#000,0.3);
    scrollbar-width: thin;
}

@media (max-width: 769px) {
    html, body {
        width: 100%;
        overflow-x: hidden;
    }
}

::-moz-selection { background: transparent; }
::selection { background: transparent; }

body {
    
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(#000,0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(#000,0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: #fff;
      outline: 1px solid slategrey;
    }
}

.button-container {
    
    @media (max-width: 769px) {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
    }
}


button {
    display: inline-block;
    vertical-align: middle;
    appearance: none;
    padding: 1rem 2rem;
    text-transform: uppercase;
    color: white;
    background: $red;
    border: none;
    letter-spacing: 0.075em;
    font-size: 12px;

    &:hover {
        cursor: pointer;
        background-color: darken($red, 10%);
    }

    @media (max-width: 769px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    &#cancel {
        padding: 0.625rem 0.5rem 0.6rem;
        background-color: #ddd;
    }
}